# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environments
.venv/
venv/
env/

# Databricks
.databricks/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
